

.unitSelect {
    position: fixed;
    top:0;
    left: 0;
    z-index: 0;
    opacity: 0;
    display: none;
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition: opacity 0.4s, z-index 0.4s;
    transition: opacity 0.4s, z-index 0.4s;
  }
.maskLayer {
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 888;
    display: block;
}

.unitSelect-show {
    opacity: 1;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    display: block;
}

.unitSelect .content {
    width: 10rem;
    display: block;
    position: fixed;
    z-index: 889;
    color: black;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    bottom: 0;
    left: 0;
    background: white;
  }

  /* 单元格 */
.unit-cell {
    height: 1.27rem;
    line-height: 1.27rem;
    box-sizing: border-box;
    font-size: .45rem;
    padding-left: .4rem;
 
}
.unit-cell:not(:last-child) {
    border-bottom: 1px solid #E5E5E5;
    border-width: thin;
}
.checkImg {
    height: .61rem;
    width: .61rem;
    margin-right: .27rem;
    vertical-align: middle;
}

.unitSelect .content .fixWidth {
    width: 10rem;
    position: relative;
}

.unitSelect .content .btnBar {
    border-bottom: 1px solid #DCDCDC;
    font-size: .4rem;
    height: 1.07rem;
    position: relative;
    text-align: center;
    line-height: 1.07rem;
  }
  .unitSelect .content .btnBar .cancel,
  .unitSelect .content .btnBar .ensure {
    height: 1.07rem;
    width: 2rem;
    cursor: pointer;
    position: absolute;
    top: 0;
  }
  .unitSelect .content .btnBar .cancel {
    left: 0;
    color: #8C8C8C;
  }
  .unitSelect .content .btnBar .ensure {
    right: 0;
    color: #0289FF;
  }
  .unitSelect .content .btnBar .title {
    font-size:.4rem;
    padding: 0 15%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }